# NOTE: This file is intended only for testing.
# Example .env file for flair-api-client-py
# Copy this file to .env and update values as needed

# OAuth2 credentials
OAUTH2_CLIENT_ID=your_oauth2_client_id
OAUTH2_CLIENT_SECRET=your_oauth2_client_secret

# OAuth1 credentials
OAUTH1_CLIENT_ID=your_oauth1_client_id
OAUTH1_CLIENT_SECRET=your_oauth1_client_secret

FLAIR_API_ENDPOINT=https://api-qa.flair.co/

# Invalid credentials for testing
INVALID_CLIENT_ID=invalid_client_id
INVALID_CLIENT_SECRET=invalid_client_secret